#user-form input {
  width: 46%;
}
#topic-form textarea {
  width: 55%;
  height: 70px;
}
#comment-form textarea {
  width: 90%;
  height: 70px;
}
/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}
/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}
#bm2050 {
  height: 10em;
  background-repeat: no-repeat;
}
.btn-category-group {
  width: 95%;
}
.btn-category {
  float: none !important;
  width: 20%;
}
.btn-poll {
  margin: 5px;
}
.score {
  float: right;
}

.popularity {
    text-align: center;
    color: blue;
}

#user-form {
  width: 80%;
  margin: auto;
}
.user-input-label {
  text-align: left;
  margin-left: 3%;
  float: left;
  width: 46%;
}
.user-input-field {
  margin-right: 3%;
}
.comment-list {
  margin-top: 3%;
}
.positive-comments {
  color: yellow;
  width: 46%;
  float: left;
}
.negative-comments {
  color: yellow;
  float: right;
  width: 46%;
}
.positive-comment {
  background-color: green;
  margin-top: 1%;
  color: yellow;
}
.negative-comment {
  background-color: red;
  margin-top: 1%;
  color: yellow;
}
