{% extends "layout.html" %}
{% block footer %}Création d'un sujet - {% endblock %}
{% block title %}Création d'un sujet - {% endblock %}
{% block head %}
  {{ super() }}
  
{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  	<div class="container">
   	 <h1 class="display-4">A propos de Nous</h1>
		<p class="lead">Exercice de projection : dans quelle ville, dans quelle métropole aimerions-nous vivre demain ? Avec la 	mission 2050, Bordeaux Métropole lance une large campagne de concertation. À vos idées !
    		<br></br>
    		Ce site web cherche à remplir les objectifs suivant :
    	</p>
    	<br></br>
    	<p class="lead">- Mettre à la disposition des politiques une large boîte à idées pour la construction d’un avenir à préparer dès maintenant.
    		<br></br>
    	</p>
    		
    	<br></br>
    	<blockquote class="blockquote">
  			<p class="mb-0">En un click vous pouvez Proposer une polémiques ou une idée de projet qui sera dicuter et avoir en retoure l'avis des différents experts et citoyens NOTRE Avenir est VOTRE avenir  .</p>
			</blockquote>
    		<br></br>
    		<p class="lead">- Croiser questionnements des citoyens et regards d’experts pour identifier les priorités de demain!
    		<br></br>
    		</p>
    		<br></br>
    		<blockquote class="blockquote">
  				<p class="mb-0">Lisez les différentes polémqiues,les avis des divers experts et votez pour prononcer votre avis sur les différents sujets aidez nous à pensez l'avenir de Bordeaux VOTRE Avenir est NOTRE Avenir .</p>
			</blockquote>
		</p>
	</div>
</div>
{% endblock %}
