{% extends "layout.html" %}
{% block footer %}Création d'un sujet - {% endblock %}
{% block title %}Création d'un sujet - {% endblock %}
{% block head %}
  {{ super() }}
  
{% endblock %}
{% block content %}
  <div class="jumbotron jumbotron-fluid" style="margin-top: 2.5%";>
  <div class="container" id="about">
    <h1 class="display-4">Bordeaux en 2050</h1>
    <p class="lead">Exercice de projection : dans quelle ville, dans quelle métropole aimerions-nous vivre demain ? Avec la mission 2050, Bordeaux Métropole lance une large campagne de concertation. À vos idées !
    <br/>
    <ul class="lead">
      <li>Mettre à la disposition des politiques une large boîte à idées pour la construction d’un avenir à préparer dès maintenant.
      <li>Croiser questionnements des citoyens et regards d’experts pour identifier les priorités de demain !
    </ul/>
    <p class="mb-0"><i>Proposez vous aussi vos idées de projet !</i></p>
    <p>En savoir plus : <a href="https://www.bm2050.fr/">www.bm2050.fr</a></p>
  </div>
</div>
{% endblock %}
