{% extends "layout.html" %}
{% block footer %}Création d'un sujet - {% endblock %}
{% block title %}Création d'un sujet - {% endblock %}
{% block head %}
  {{ super() }}
  
{% endblock %}
{% block content %}
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">A propos de Nous</h1>
    <p class="lead">Exercice de projection : dans quelle ville, dans quelle métropole aimerions-nous vivre demain ? Avec la mission 2050, Bordeaux Métropole lance une large campagne de concertation. À vos idées !
	</p>
	<p>
		- Mettre à la disposition des politiques une large boîte à idées pour la construction d’un avenir à préparer dès maintenant
		- Croiser questionnements des citoyens et regards d’experts pour identifier les priorités de demain
	</p>
  </div>
</div>
{% endblock %}
