{% extends "layout.html" %}
{% block footer %}Liste des problématiques - {% endblock %}
{% block title %}Liste des problématiques - {% endblock %}
{% block head %}
  {{ super() }}
  <script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $(function() {
      $('.score').each(function(index) {
        getScoreColor($(this));
      });
    });
  </script>
{% endblock %}
{% block content %}
  <h1>Liste des problématiques</h1>
  <hr/>
  <div class="text-center">
    <div class="btn-group btn-category-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default btn-danger btn-category">Cat1</button>
      <button type="button" class="btn btn-default btn-info btn-category">Cat2</button>
      <button type="button" class="btn btn-default btn-primary btn-category">Cat3</button>
    </div>
    <br/>
    <br/>
    <div class="btn-group btn-category-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default btn-primary btn-category">Cat4</button>
      <button type="button" class="btn btn-default btn-success btn-category">Cat5</button>
      <button type="button" class="btn btn-default btn-warning btn-category">Cat6</button>
    </div>
  </div>
  <hr/>
  <hr/>
  <div class="list-group text-left">
    {% for topic in topics %}
    {% set title = topic.Question %}
    {% if title|length > 50%}
      {% set title = topic.Question[0:50] ~ "..." %}
    {% endif %}
      <a href="{{ url_for('display_topic', topic_id=topic.Id|string) }}" class="list-group-item list-group-item-action">
        <span class="popularity text-info">{{ topic.Popularity }} <span class="glyphicon glyphicon-star-empty"></span></span>
        <span class="title">{{ title }}</span>
        <span class="score">{{ topic.Score }}</span>
      </a>
    {% endfor %}
  </div>
{% endblock %}
