{% extends "layout.html" %}
{% block footer %}Liste des sujets - {% endblock %}
{% block title %}Liste des sujets - {% endblock %}
{% block head %}
  {{ super() }}
  <script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $(function() {
      $('.score').each(function(index) {
        getScoreColor($(this));
      });
    });
  </script>
{% endblock %}
{% block content %}
  <h1>Liste des sujets</h1>
  <h3><i> Et votez pour la prochaine <a href='https://www.bm2050.fr/decouvrez-le-monde-extraordinaire-de-bordeaux-en-2050/'>pépite</a> ! </i></h3>
  <hr/>
  <span style="float:left;">Filtrer par catégorie :</span>
  <br/>
  <div class="text-center">
    <div class="btn-group btn-category-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default btn-danger btn-category">Cat1</button>
      <button type="button" class="btn btn-default btn-info btn-category">Cat2</button>
      <button type="button" class="btn btn-default btn-primary btn-category">Cat3</button>
    </div>
    <br/>
    <br/>
    <div class="btn-group btn-category-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default btn-primary btn-category">Cat4</button>
      <button type="button" class="btn btn-default btn-success btn-category">Cat5</button>
      <button type="button" class="btn btn-default btn-warning btn-category">Cat6</button>
    </div>
  </div>
  <hr/>
  <br/>
  <div class="list-group text-left">
    {% for topic in topics %}
    {% set title = topic.Question %}
    {% if title|length > 50%}
      {% set title = topic.Question[0:50] ~ "..." %}
    {% endif %}
      <a href="{{ url_for('display_topic', topic_id=topic.Id|string) }}" class="list-group-item list-group-item-action">
        <span class="title">{{ title }}</span>
        <div class="topic_info_list">
            <span>Score : </span>
            <span class="score">{{ topic.Score }}</span>
            <span class="popularity text-info"> (popularité: {{ topic.Popularity }})</span>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
