{% extends "layout.html" %}
{% block footer %}Sujet n°{{ topic.Id }} - {% endblock %}
{% block title %}Sujet n°{{ topic.Id }} - {% endblock %}
{% block head %}
	{{ super() }}
	<script>
        $SCRIPT_ROOT = location.protocol+'//'+location.hostname+(location.port ?  ':'+location.port: '');

		$(function() {
			getScoreColor($('#score'));

			$('a.ptn-poll').click(function(e) {
				var target = $(e.target);

				if(target.is('#plus-one')) {
					value = 1;
				} else if(target.is('#minus-one')) {
					value = -1;
				} else {
					value = 0;
				}
				$.getJSON($SCRIPT_ROOT + '/_update_topic_score/'
					, { value: value, topic_id: $('#topic_id').val() }
				  	, function(data) {
				  		$("#score").text(data.result);
				  		getScoreColor($('#score'));
				});
			});
		});
	</script>
{% endblock %}
{% block content %}
	<h2 class="">{{ topic.Question }}</h2>
	<hr/>
	<div class="text-center">
	    <div class="text-center">
	      <h3 id="score">{{ topic.Score }}</h3>
				{% if session['logged_in'] %}
					    <div class="text-center">
					    	<a href="#" id="plus-one" class="btn btn-success ptn-poll">+</a>
					    	<a href="#" id="minus-one" class="btn btn-danger ptn-poll">-</a>
					    </div>
				{% endif %}
	    </div>
	    <hr/>

	</div>
		{% for answer in topic.Answers %}
				<div class="list-group-item list-group-item-action">{{ answer.Answer }}</div>
		{% endfor %}

{% if session['logged_in'] %}
  	<input id="topic_id" type="hidden" value="{{ topic.Id }}"/>

    <form action="{{ url_for('add_comment', question_id=topic.Id) }}"  id="comment-form" method=post>
        <fieldset id="group1">
          <input type="radio" value="True" name="group1">
          <input type="radio" value="False" name="group1">
        </fieldset>
        <textarea name=answer rows=2 cols=40>Votre commentaire</textarea>
      	<div class = "text-center">
        	<input class="btn btn-success" type=submit value=Envoyer>
        	<a href="{{ url_for('index') }}" class="btn btn-danger">Retour</a>
      </div>
    </form>
{% endif %}

<div class="comment-list text-left">
	<span class="positive-comments">
		<div class="positive-comment">#TODO positive comments...</div>
		<div class="positive-comment">#TODO positive comments...</div>
		<div class="positive-comment">#TODO positive comments...</div>
<!-- 		{% for positive_comment in positive_comments%}
			#TODO
		{% endfor %} -->
	</span>
	<span class="negative-comments text-right">
		<div class="negative-comment">#TODO negative comments...</div>
		<div class="negative-comment">#TODO negative comments...</div>
		<div class="negative-comment">#TODO negative comments...</div>
<!-- 		{% for negative_comment in negative_comments%}
			#TODO	
		{% endfor %} -->
	</span>
</div>
{% endblock %}
